In [2]:
#pip install mysql-connector-python pandas sqlalchemy

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (9.5.0)
Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.3.2)
Requirement already satisfied: sqlalchemy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.0.46)
Requirement already satisfied: numpy>=1.23.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: greenlet>=1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

customers = pd.read_csv("customer.csv")
print(customers.shape)
customers.head()

(20, 6)

   customer_id customer_name  age  gender     city signup_date
0            1          Amit   25    Male     Pune  2019-08-02
1            2          Riya   28  Female   Mumbai  2020-12-06
2            3         Rahul   35  Female    Delhi  2021-02-24
3            4         Sneha   22  Female     Pune  2022-09-25
4            5         Arjun   40    Male  Chennai  2019-08-05

In [ ]:
import pandas as pd
import mysql.connector
import os

# MySQL connection
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='shiva1911',
    database='project'
)
cursor = conn.cursor()

folder_path = r"C:\Users\User\Desktop\project"

def insert_batch(query, data, batch_size=10):
    for i in range(0, len(data), batch_size):
        cursor.executemany(query, data[i:i+batch_size])
        conn.commit()

for csv_file, table_name in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    df = pd.read_csv(file_path)

    # Convert date columns safely
    for col in df.columns:
        if 'date' in col.lower():
            df[col] = pd.to_datetime(df[col], errors='coerce')

    # Replace NaN / NaT with None
    df = df.where(pd.notnull(df), None)

    print(f"Inserting {table_name}...")

    insert_query = f"""
    INSERT INTO {table_name}
    ({', '.join(df.columns)})
    VALUES ({', '.join(['%s'] * len(df.columns))})
    """

    data = list(df.itertuples(index=False, name=None))
    insert_batch(insert_query, data)

    print(f"{table_name} inserted successfully")

cursor.close()
conn.close()
print("All data inserted safely")

In [1]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.0.46)
Requirement already satisfied: pymysql in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet>=1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# pip install cryptography

In [5]:
# pip install pandas sqlalchemy pymysql cryptography

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.3.2)
Requirement already satisfied: sqlalchemy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.0.46)
Requirement already satisfied: pymysql in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.1.2)
Requirement already satisfied: cryptography in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (46.0.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: greenlet>=1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: cffi>=2.0.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from cryptography) (2.0.0)
Requirement already satisfied: pycparser in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from cffi>=2.0.0->cryptography) (2.21)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
#########################THIS IS THE MAIN CODE TO CONNECTED THE PYTHON TO MYSQL
#import pandas as pd
#from sqlalchemy import create_engine
#import os

# Create SQLAlchemy engine
engine = create_engine(
    "mysql+pymysql://root:shiva1911@localhost/project"
)

# Folder containing CSV files
folder_path = r"C:\Users\User\Desktop\project"

# IMPORTANT: correct order (FK safe)
files = [
    ("customer.csv", "customers"),
    ("products.csv", "products"),
    ("sale.csv", "sales"),
    ("payment.csv", "payments")
]

for csv_file, table_name in files:
    file_path = os.path.join(folder_path, csv_file)
    
    print(f"Reading {csv_file}...")
    df = pd.read_csv(file_path)

    # Convert date columns safely
    for col in df.columns:
        if "date" in col.lower():
            df[col] = pd.to_datetime(df[col], errors="coerce")

    print(f"Inserting into {table_name}...")
    
    df.to_sql(
        name=table_name,
        con=engine,
        if_exists="append",   # DO NOT replace
        index=False,
        chunksize=10          # prevents kernel crash
    )

    print(f"‚úÖ {table_name} inserted successfully\n")

print("üéâ ALL DATA INSERTED SUCCESSFULLY")

In [ ]:
# import pandas as pd
# import mysql.connector

# Connect to SQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="shiva1911",
    database="project"
)

# Load aggregated customer data
query = """
SELECT 
    c.customer_name,
    c.age,
    c.gender,
    c.city,
    c.signup_date,
    p.product_name,
    p.category,
    p.price,
    s.sale_year,
    s.quantity,
    pay.payment_mode,
    pay.payment_status,
    (p.price * s.quantity) AS total_sale
FROM sales s
JOIN customers c ON s.customer_id = c.customer_id
JOIN products p ON s.product_id = p.product_id
LEFT JOIN payments pay ON s.sale_id = pay.sale_id
ORDER BY c.customer_name, s.sale_year
LIMIT 22;
"""
df = pd.read_sql(query, conn)

In [ ]:
# import pandas as pd
# import mysql.connector

# Connect to SQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="shiva1911",
    database="project"
)

In [ ]:
query = """
SELECT 
    c.customer_name,
    c.age,
    c.gender,
    s.sale_year,
    s.quantity,
    p.price,
    (p.price * s.quantity) AS total_sale
FROM sales s
JOIN customers c ON s.customer_id = c.customer_id
JOIN products p ON s.product_id = p.product_id
LIMIT 100;
"""
df = pd.read_sql(query, conn)
print(df.head())

In [1]:
# pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="shiva1911",
        database="project"
    )
    print("Connection successful!")
except mysql.connector.Error as err:
    print("Error:", err)

In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.1.2)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:

import pandas as pd
import pymysql

conn = pymysql.connect(
    host="localhost",
    user="root",
    password="shiva1911",
    database="project"
)

df = pd.read_sql("SELECT * FROM customers LIMIT 5;", conn)
print(df)

   customer_id customer_name  age  gender     city signup_date  signup_year
0            1          Amit   25    Male     Pune  2019-08-02         2019
1            2          Riya   28  Female   Mumbai  2020-12-06         2020
2            3         Rahul   35  Female    Delhi  2021-02-24         2021
3            4         Sneha   22  Female     Pune  2022-09-25         2022
4            5         Arjun   40    Male  Chennai  2019-08-05         2019

C:\Users\User\AppData\Local\Temp\ipykernel_13592\1935705126.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM customers LIMIT 5;", conn)

In [5]:
import pandas as pd
import pymysql

# 1Ô∏è‚É£ Connect to MySQL
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="shiva1911",
    database="project"
)

# 2Ô∏è‚É£ Your full SQL query
query = """
SELECT 
    c.customer_name,
    c.age,
    c.gender,
    c.city,
    c.signup_date,
    p.product_name,
    p.category,
    p.price,
    s.sale_year,
    s.quantity,
    pay.payment_mode,
    pay.payment_status,
    (p.price * s.quantity) AS total_sale
FROM sales s
JOIN customers c ON s.customer_id = c.customer_id
JOIN products p ON s.product_id = p.product_id
LEFT JOIN payments pay ON s.sale_id = pay.sale_id
ORDER BY c.customer_name, s.sale_year
LIMIT 22;
"""

# 3Ô∏è‚É£ Load data into Pandas DataFrame
df = pd.read_sql(query, conn)

# 4Ô∏è‚É£ Preprocessing (optional)
# Encode gender
df['gender'] = df['gender'].map({'Male':0, 'Female':1})

# Fill missing payment info
df['payment_mode'] = df['payment_mode'].fillna('Unknown')
df['payment_status'] = df['payment_status'].fillna('Pending')

# Calculate total_sale again if needed (already in SQL)
df['total_sale'] = df['total_sale'].fillna(0)

# Optional: convert signup_date to datetime
df['signup_date'] = pd.to_datetime(df['signup_date'])

# 5Ô∏è‚É£ Quick check
print(df.head())
print(df.info())

  customer_name  age  gender     city signup_date product_name     category  \
0          Amit   25       0     Pune  2019-08-02       Laptop  Electronics
1         Ankit   29       0   Jaipur  2023-12-03      Monitor  Electronics
2         Arjun   40       0  Chennai  2019-08-05        Mouse  Electronics
3         Divya   29       1   Nagpur  2025-08-09      Earbuds  Electronics
4          Isha   34       1   Indore  2020-05-02    Hard Disk  Electronics

     price  sale_year  quantity payment_mode payment_status  total_sale
0  55000.0       2019         1  Credit Card        Success     55000.0
1  15000.0       2023         1   Debit Card        Success     15000.0
2    800.0       2019         4         Cash        Success      3200.0
3   4000.0       2025         2  Credit Card        Success      8000.0
4   5200.0       2020         1  Net Banking         Failed      5200.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_name   20 non-null     object
 1   age             20 non-null     int64
 2   gender          20 non-null     int64
 3   city            20 non-null     object
 4   signup_date     20 non-null     datetime64[ns]
 5   product_name    20 non-null     object
 6   category        20 non-null     object
 7   price           20 non-null     float64
 8   sale_year       20 non-null     int64
 9   quantity        20 non-null     int64
 10  payment_mode    20 non-null     object
 11  payment_status  20 non-null     object
 12  total_sale      20 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(6)
memory usage: 2.2+ KB
None

C:\Users\User\AppData\Local\Temp\ipykernel_13592\3244456038.py:37: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [6]:
df

,customer_name,age,gender,city,signup_date,product_name,category,price,sale_year,quantity,payment_mode,payment_status,total_sale
0,Amit,25,0,Pune,2019-08-02,Laptop,Electronics,55000.0,2019,1,Credit Card,Success,55000.0
1,Ankit,29,0,Jaipur,2023-12-03,Monitor,Electronics,15000.0,2023,1,Debit Card,Success,15000.0
2,Arjun,40,0,Chennai,2019-08-05,Mouse,Electronics,800.0,2019,4,Cash,Success,3200.0
3,Divya,29,1,Nagpur,2025-08-09,Earbuds,Electronics,4000.0,2025,2,Credit Card,Success,8000.0
4,Isha,34,1,Indore,2020-05-02,Hard Disk,Electronics,5200.0,2020,1,Net Banking,Failed,5200.0
5,Karan,27,0,Pune,2021-08-02,Table,Furniture,12000.0,2021,2,Credit Card,Failed,24000.0
6,Kavya,26,1,Chennai,2021-01-10,Backpack,Accessories,2500.0,2021,2,UPI,Failed,5000.0
7,Meena,45,1,Delhi,2019-07-06,Printer,Electronics,18000.0,2019,1,Credit Card,Success,18000.0
8,Mohan,32,0,Surat,2021-09-09,SSD,Electronics,6500.0,2021,1,Credit Card,Success,6500.0
9,Neha,30,1,Pune,2020-08-27,Chair,Furniture,7000.0,2020,1,Net Banking,Success,7000.0
10,Nisha,31,1,Pune,2022-07-02,Router,Electronics,3200.0,2022,1,Net Banking,Success,3200.0
11,Pooja,33,1,Mumbai,2021-01-10,Pen Drive,Accessories,900.0,2021,5,UPI,Success,4500.0
12,Prakash,47,0,Bhopal,2019-10-08,Calculator,Stationery,600.0,2019,6,Cash,Success,3600.0
13,Rahul,35,1,Delhi,2021-02-24,Headphones,Electronics,3000.0,2021,3,Debit Card,Failed,9000.0
14,Riya,28,1,Mumbai,2020-12-06,Mobile,Electronics,25000.0,2020,2,UPI,Success,50000.0
15,Rohit,38,0,Bangalore,2020-03-09,Notebook,Stationery,200.0,2020,10,Cash,Success,2000.0
16,Sneha,22,1,Pune,2022-09-25,Keyboard,Electronics,1500.0,2022,1,Credit Card,Success,1500.0
17,Suresh,32,0,Hyderabad,2019-10-12,Power Bank,Electronics,2200.0,2019,3,Credit Card,Success,6600.0
18,Tina,24,1,Ahmedabad,2024-08-02,Office Lamp,Furniture,1800.0,2024,4,UPI,Success,7200.0
19,Vikram,36,0,Mumbai,2023-08-23,Webcam,Electronics,4500.0,2023,2,Debit Card,Success,9000.0

In [7]:
# df.to_csv('cleaned_sales_date.csv',index = False)
# converted into new files

In [10]:
import pandas as pd
import pymysql

conn = pymysql.connect(
    host="localhost",
    user="root",
    password="shiva1911",
    database="project"
)

df = pd.read_sql("SELECT * FROM customers;", conn)
print(df)

    customer_id customer_name  age  gender       city signup_date  signup_year
0             1          Amit   25    Male       Pune  2019-08-02         2019
1             2          Riya   28  Female     Mumbai  2020-12-06         2020
2             3         Rahul   35  Female      Delhi  2021-02-24         2021
3             4         Sneha   22  Female       Pune  2022-09-25         2022
4             5         Arjun   40    Male    Chennai  2019-08-05         2019
5             6          Neha   30  Female       Pune  2020-08-27         2020
6             7         Karan   27    Male       Pune  2021-08-02         2021
7             8         Pooja   33  Female     Mumbai  2021-01-10         2021
8             9         Ankit   29    Male     Jaipur  2023-12-03         2023
9            10         Meena   45  Female      Delhi  2019-07-06         2019
10           11         Rohit   38    Male  Bangalore  2020-03-09         2020
11           12         Kavya   26  Female    Chennai  2021-01-10         2021
12           13        Suresh   32    Male  Hyderabad  2019-10-12         2019
13           14         Nisha   31  Female       Pune  2022-07-02         2022
14           15        Vikram   36    Male     Mumbai  2023-08-23         2023
15           16          Tina   24  Female  Ahmedabad  2024-08-02         2024
16           17         Mohan   32    Male      Surat  2021-09-09         2021
17           18          Isha   34  Female     Indore  2020-05-02         2020
18           19       Prakash   47    Male     Bhopal  2019-10-08         2019
19           20         Divya   29  Female     Nagpur  2025-08-09         2025

C:\Users\User\AppData\Local\Temp\ipykernel_15776\2196809172.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM customers;", conn)

In [9]:
import pandas as pd
import pymysql

conn = pymysql.connect(
    host="localhost",
    user="root",
    password="shiva1911",
    database="project"
)

df = pd.read_sql("SELECT * FROM products ;", conn)
print(df)

    product_id product_name     category    price
0          101       Laptop  Electronics  55000.0
1          102       Mobile  Electronics  25000.0
2          103   Headphones  Electronics   3000.0
3          104     Keyboard  Electronics   1500.0
4          105        Mouse  Electronics    800.0
5          106        Chair    Furniture   7000.0
6          107        Table    Furniture  12000.0
7          108    Pen Drive  Accessories    900.0
8          109      Monitor  Electronics  15000.0
9          110      Printer  Electronics  18000.0
10         111     Notebook   Stationery    200.0
11         112     Backpack  Accessories   2500.0
12         113   Power Bank  Electronics   2200.0
13         114       Router  Electronics   3200.0
14         115       Webcam  Electronics   4500.0
15         116  Office Lamp    Furniture   1800.0
16         117          SSD  Electronics   6500.0
17         118    Hard Disk  Electronics   5200.0
18         119   Calculator   Stationery    600.0
19         120      Earbuds  Electronics   4000.0

C:\Users\User\AppData\Local\Temp\ipykernel_15776\2905272775.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM products ;", conn)

In [8]:
import pandas as pd
import pymysql

conn = pymysql.connect(
    host="localhost",
    user="root",
    password="shiva1911",
    database="project"
)

df = pd.read_sql("SELECT * FROM sales ;", conn)
print(df)

    sale_id  customer_id  product_id   sale_date  sale_year  quantity
0         1            1         101  2019-02-08       2019         1
1         2            2         102  2020-06-12       2020         2
2         3            3         103  2021-02-24       2021         3
3         4            4         104  2022-09-25       2022         1
4         5            5         105  2019-05-08       2019         4
5         6            6         106  2020-08-27       2020         1
6         7            7         107  2021-02-08       2021         2
7         8            8         108  2021-10-01       2021         5
8         9            9         109  2023-03-12       2023         1
9        10           10         110  2019-06-07       2019         1
10       11           11         111  2020-09-03       2020        10
11       12           12         112  2021-10-01       2021         2
12       13           13         113  2019-12-10       2019         3
13       14           14         114  2022-02-07       2022         1
14       15           15         115  2023-08-23       2023         2
15       16           16         116  2024-02-08       2024         4
16       17           17         117  2021-09-09       2021         1
17       18           18         118  2020-02-05       2020         1
18       19           19         119  2019-08-10       2019         6
19       20           20         120  2025-09-08       2025         2

C:\Users\User\AppData\Local\Temp\ipykernel_15776\3585386302.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM sales ;", conn)

In [7]:
import pandas as pd
import pymysql

conn = pymysql.connect(
    host="localhost",
    user="root",
    password="shiva1911",
    database="project"
)

df = pd.read_sql("SELECT * FROM payments ;", conn)
print(df)

    payment_id  sale_id payment_date payment_mode payment_status
0            1        1   2019-02-08  Credit Card        Success
1            2        2   2020-06-12          UPI        Success
2            3        3   2021-02-24   Debit Card         Failed
3            4        4   2022-09-25  Credit Card        Success
4            5        5   2019-05-08         Cash        Success
5            6        6   2020-08-27  Net Banking        Success
6            7        7   2021-02-08  Credit Card         Failed
7            8        8   2021-10-01          UPI        Success
8            9        9   2023-03-12   Debit Card        Success
9           10       10   2019-06-07  Credit Card        Success
10          11       11   2020-09-03         Cash        Success
11          12       12   2021-10-01          UPI         Failed
12          13       13   2019-12-10  Credit Card        Success
13          14       14   2022-02-07  Net Banking        Success
14          15       15   2023-08-23   Debit Card        Success
15          16       16   2024-02-08          UPI        Success
16          17       17   2021-09-09  Credit Card        Success
17          18       18   2020-02-05  Net Banking         Failed
18          19       19   2019-08-10         Cash        Success
19          20       20   2025-09-08  Credit Card        Success

C:\Users\User\AppData\Local\Temp\ipykernel_15776\3839054490.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM payments ;", conn)