In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv('customer.csv')
products = pd.read_csv('products.csv')
sales = pd.read_csv('sale.csv')
payments = pd.read_csv('payment.csv')

In [9]:
customers

    customer_id customer_name  age  gender       city signup_date
0             1          Amit   25    Male       Pune  2019-08-02
1             2          Riya   28  Female     Mumbai  2020-12-06
2             3         Rahul   35  Female      Delhi  2021-02-24
3             4         Sneha   22  Female       Pune  2022-09-25
4             5         Arjun   40    Male    Chennai  2019-08-05
5             6          Neha   30  Female       Pune  2020-08-27
6             7         Karan   27    Male       Pune  2021-08-02
7             8         Pooja   33  Female     Mumbai  2021-01-10
8             9         Ankit   29    Male     Jaipur  2023-12-03
9            10         Meena   45  Female      Delhi  2019-07-06
10           11         Rohit   38    Male  Bangalore  2020-03-09
11           12         Kavya   26  Female    Chennai  2021-01-10
12           13        Suresh   32    Male  Hyderabad  2019-10-12
13           14         Nisha   31  Female       Pune  2022-07-02
14           15        Vikram   36    Male     Mumbai  2023-08-23
15           16          Tina   24  Female  Ahmedabad  2024-08-02
16           17         Mohan   32    Male      Surat  2021-09-09
17           18          Isha   34  Female     Indore  2020-05-02
18           19       Prakash   47    Male     Bhopal  2019-10-08
19           20         Divya   29  Female     Nagpur  2025-08-09

In [3]:
customers.isnull().sum()

customer_id      0
customer_name    0
age              0
gender           0
city             0
signup_date      0
dtype: int64

In [6]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    20 non-null     int64
 1   customer_name  20 non-null     object
 2   age            20 non-null     int64
 3   gender         20 non-null     object
 4   city           20 non-null     object
 5   signup_date    20 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.1+ KB

In [8]:
customers['signup_date'] = pd.to_datetime(customers['signup_date'],errors = 'coerce')

In [12]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:shiva1911@localhost/project"
)

print("Engine created")

Engine created

In [13]:
import pandas as pd
from sqlalchemy import text

customers = pd.read_sql(
    "SELECT * FROM customers",
    engine
)

customers['signup_date'] = pd.to_datetime(
    customers['signup_date'], errors='coerce'
)

update_query = text("""
UPDATE customers
SET signup_date = :signup_date
WHERE customer_id = :customer_id
""")

with engine.begin() as conn:
    for _, row in customers.iterrows():
        conn.execute(
            update_query,
            {
                "signup_date": row["signup_date"],
                "customer_id": row["customer_id"]
            }
        )

print("✅ signup_date updated in SQL")

✅ signup_date updated in SQL

In [14]:
sales

    sale_id  customer_id  product_id  quantity   sale_date
0         1            1         101         1  02-08-2019
1         2            2         102         2  06-12-2020
2         3            3         103         3  24-02-2021
3         4            4         104         1  25-09-2022
4         5            5         105         4  05-08-2019
5         6            6         106         1  27-08-2020
6         7            7         107         2  02-08-2021
7         8            8         108         5  10-01-2021
8         9            9         109         1  03-12-2023
9        10           10         110         1  06-07-2019
10       11           11         111        10  09-03-2020
11       12           12         112         2  10-01-2021
12       13           13         113         3  12-10-2019
13       14           14         114         1  02-07-2022
14       15           15         115         2  23-08-2023
15       16           16         116         4  02-08-2024
16       17           17         117         1  09-09-2021
17       18           18         118         1  02-05-2020
18       19           19         119         6  08-10-2019
19       20           20         120         2  09-08-2025

In [16]:
payments

    payment_id  sale_id payment_mode payment_status payment_date
0            1        1  Credit Card        Success   02-08-2019
1            2        2          UPI        Success   06-12-2020
2            3        3   Debit Card         Failed   24-02-2021
3            4        4  Credit Card        Success   25-09-2022
4            5        5         Cash        Success   05-08-2019
5            6        6  Net Banking        Success   27-08-2020
6            7        7  Credit Card         Failed   02-08-2021
7            8        8          UPI        Success   10-01-2021
8            9        9   Debit Card        Success   03-12-2023
9           10       10  Credit Card        Success   06-07-2019
10          11       11         Cash        Success   09-03-2020
11          12       12          UPI         Failed   10-01-2021
12          13       13  Credit Card        Success   12-10-2019
13          14       14  Net Banking        Success   02-07-2022
14          15       15   Debit Card        Success   23-08-2023
15          16       16          UPI        Success   02-08-2024
16          17       17  Credit Card        Success   09-09-2021
17          18       18  Net Banking         Failed   02-05-2020
18          19       19         Cash        Success   08-10-2019
19          20       20  Credit Card        Success   09-08-2025