In [1]:
import mysql.connector

In [2]:
customers = pd.read_csv('customer.csv')
products = pd.read_csv('products.csv')
sales = pd.read_csv('sale.csv')
payments = pd.read_csv('payment.csv')

In [ ]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='shiva1911'
)

print("Connected successfully")

In [2]:
!pip uninstall mysql-connector-python -y

Found existing installation: mysql-connector-python 9.5.0
Uninstalling mysql-connector-python-9.5.0:
  Successfully uninstalled mysql-connector-python-9.5.0

In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl.metadata (7.5 kB)
Using cached mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl (16.5 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install pymysql

Collecting pymysqlNote: you may need to restart the kernel to use updated packages.

  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pymysql

conn = pymysql.connect(
    host='localhost',
    user='root',
    password='Shiva1911',
    database = 'project'
    
)

print("Connected with pymysql")

Connected with pymysql

In [8]:
cursor = conn.cursor()

In [30]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    gender VARCHAR(10),
    city VARCHAR(30),
    signup_date DATE,
    signup_year INT
)
""")

0

In [31]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS products (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(50),
    category VARCHAR(30),
    price DECIMAL(10,2)
)
""")

0

In [32]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS sales (
    sale_id INT PRIMARY KEY,
    customer_id INT,
    product_id INT,
    quantity INT,
    sale_date DATE,
    sale_year INT,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
)
""")

0

In [33]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS payments (
    payment_id INT PRIMARY KEY,
    sale_id INT,
    payment_mode VARCHAR(30),
    payment_status VARCHAR(20),
    payment_date DATE,
    amount DECIMAL(10,2),
    FOREIGN KEY (sale_id) REFERENCES sales(sale_id)
)
""")

0

In [34]:
conn.commit()
print("All tables created successfully")

All tables created successfully

In [35]:
import pandas as pd

customers = pd.read_csv('customer.csv')
products = pd.read_csv('products.csv')
sales = pd.read_csv('sale.csv')
payments = pd.read_csv('payment.csv')

In [57]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    20 non-null     int64
 1   customer_name  20 non-null     object
 2   age            20 non-null     int64
 3   gender         20 non-null     object
 4   city           20 non-null     object
 5   signup_date    20 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.1+ KB

In [58]:
customers.isnull().sum()

customer_id      0
customer_name    0
age              0
gender           0
city             0
signup_date      0
dtype: int64

In [60]:
customers['signup_date'] = pd.to_datetime(customers['signup_date'])

In [61]:
sales['sale_date'] = pd.to_datetime(sales['sale_date'],format = '%d-%m-%Y')

In [62]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sale_id      20 non-null     int64
 1   customer_id  20 non-null     int64
 2   product_id   20 non-null     int64
 3   quantity     20 non-null     int64
 4   sale_date    20 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 928.0 bytes

In [41]:
payments['payment_date'] = pd.to_datetime(payments['payment_date'],format = '%d-%m-%Y')

In [42]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   payment_id      20 non-null     int64
 1   sale_id         20 non-null     int64
 2   payment_mode    20 non-null     object
 3   payment_status  20 non-null     object
 4   payment_date    20 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 928.0+ bytes

In [43]:
customers['signup_date'] = customers['signup_date'].dt.date
sales['sale_date'] = sales['sale_date'].dt.date
payments['payment_date'] = payments['payment_date'].dt.date

In [45]:
customer_query = """
INSERT INTO customers
(customer_id, name, age, gender, city, signup_date, signup_year)
VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

In [49]:
customer_data = list(customers.itertuples(index=False, name=None))
print(customer_data[0])

(1, 'Amit', 25, 'Male', 'Pune', datetime.date(2019, 8, 2))

In [51]:
# Ensure dates are datetime.date
customers['signup_date'] = pd.to_datetime(customers['signup_date']).dt.date

# Make sure only 7 columns
customers = customers[['customer_id', 'name', 'age', 'gender', 'city', 'signup_date', 'signup_year']]

# Convert to tuples
customer_data = list(customers.itertuples(index=False, name=None))

KeyError: "['name', 'signup_year'] not in index"

In [ ]:
product_query = """
INSERT INTO products
(product_id, product_name, category, price)
VALUES (%s, %s, %s, %s)
"""

product_data = list(products.itertuples(index=False, name=None))
cursor.executemany(product_query, product_data)

In [ ]:
sales_query = """
INSERT INTO sales
(sale_id, customer_id, product_id, quantity, sale_date, sale_year)
VALUES (%s, %s, %s, %s, %s, %s)
"""

sales_data = list(sales.itertuples(index=False, name=None))
cursor.executemany(sales_query, sales_data)

In [ ]:
payment_query = """
INSERT INTO payments
(payment_id, sale_id, payment_method, payment_status, payment_date, amount)
VALUES (%s, %s, %s, %s, %s, %s)
"""

payment_data = list(payments.itertuples(index=False, name=None))
cursor.executemany(payment_query, payment_data)